In [1]:
import pandas as pd
import numpy as np
import json
import requests as req
from citipy import citipy
import matplotlib.pyplot as plt

from API_Key import API_Key

In [2]:
latitude = np.random.uniform(-90,90, size = 10)
longitude = np.random.uniform(-180,180,size = 10)
coord = pd.DataFrame(latitude, longitude)
coord = coord.reset_index()
coord = coord.rename(columns = {'index':'latitude',0:'longitude'})
coord

     latitude  longitude
0 -107.212422 -62.072393
1   74.097726 -78.788749
2   -0.041897   4.681830
3   31.603521  65.681054
4  158.617013  -8.567843
5  116.247997 -42.151133
6 -152.393381  29.761561
7  -59.675834 -67.951099
8 -134.134856 -32.370795
9  137.567684  -3.153015

In [3]:
cities = []
for index, row in coord.iterrows():
    lat = row['latitude']
    lng = row['longitude']
    city = citipy.nearest_city(lat,lng)
    cities.append(city.city_name)

In [4]:
cities_df = pd.DataFrame(cities)
cities_df = cities_df.rename(columns = {0 : 'city_name'})
cities_df

     city_name
0      ushuaia
1      qaanaaq
2  port-gentil
3     qandahar
4  barentsburg
5    upernavik
6   bredasdorp
7      ushuaia
8      ushuaia
9  barentsburg

In [9]:
cities_df = pd.DataFrame(cities)
units = 'metric'
for index, row in cities_df.iterrows():
    url = 'http://api.openweathermap.org/data/2.5/weather?'

    city = row[0]
    query_url = f'{url}appid={API_Key}&q={city}&units={units}'
    city_weather = req.get(query_url)
    weather_json = city_weather.json()
    print(weather_json)
    try:
        temperature = weather_json['main']['temp']
        humidity = weather_json['main']['humidity']
        cloudiness = weather_json['clouds']['all']
        wind_speed = weather_json['wind']['speed']
        cities_df.set_value(index, 'teperature', temperature)
        cities_df.set_value(index, 'humidity', humidity)
        cities_df.set_value(index, 'cloudiness', cloudiness)
        cities_df.set_value(index, 'wind speed', wind_speed)
        
        #print(temperature)
    except:
        continue

{'coord': {'lon': -68.31, 'lat': -54.81}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 7.82, 'pressure': 960.31, 'humidity': 68, 'temp_min': 7.82, 'temp_max': 7.82, 'sea_level': 1004.55, 'grnd_level': 960.31}, 'wind': {'speed': 9.65, 'deg': 339.503}, 'clouds': {'all': 64}, 'dt': 1522371336, 'sys': {'message': 0.0033, 'country': 'AR', 'sunrise': 1522407228, 'sunset': 1522448423}, 'id': 3833367, 'name': 'Ushuaia', 'cod': 200}
{'coord': {'lon': -69.36, 'lat': 77.48}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': -24.91, 'pressure': 1003.36, 'humidity': 79, 'temp_min': -24.91, 'temp_max': -24.91, 'sea_level': 1038.27, 'grnd_level': 1003.36}, 'wind': {'speed': 2.6, 'deg': 103.503}, 'clouds': {'all': 24}, 'dt': 1522370962, 'sys': {'message': 0.003, 'country': 'GL', 'sunrise': 1522401329, 'sunset': 1522455173}, 'id': 3831208, 'name': 'Qaanaaq', 'cod': 200}
{'coord': {'lon': 8.78, 'lat': -0.72}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 27.72, 'pressure': 1022.24, 'humidity': 96, 'temp_min': 27.72, 'temp_max': 27.72, 'sea_level': 1022.62, 'grnd_level': 1022.24}, 'wind': {'speed': 1.75, 'deg': 173.503}, 'clouds': {'all': 88}, 'dt': 1522371363, 'sys': {'message': 0.1636, 'country': 'GA', 'sunrise': 1522387575, 'sunset': 1522431143}, 'id': 2396518, 'name': 'Port-Gentil', 'cod': 200}
{'cod': '404', 'message': 'city not found'}
{'cod': '404', 'message': 'city not found'}
{'coord': {'lon': -56.15, 'lat': 72.79}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': -13.46, 'pressure': 1033.75, 'humidity': 76, 'temp_min': -13.46, 'temp_max': -13.46, 'sea_level': 1037.09, 'grnd_level': 1033.75}, 'wind': {'speed': 0.05, 'deg': 340.003}, 'clouds': {'all': 24}, 'dt': 1522371364, 'sys': {'message': 0.164, 'country': 'GL', 'sunrise': 1522399660, 'sunset': 1522450403}, 'id': 3418910, 'name': 'Upernavik', 'cod': 200}
{'coord': {'lon': 20.04, 'lat': -34.53}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 18, 'pressure': 1014, 'humidity': 88, 'temp_min': 18, 'temp_max': 18}, 'wind': {'speed': 0.5, 'deg': 340}, 'rain': {'3h': 0.8575}, 'clouds': {'all': 88}, 'dt': 1522368000, 'sys': {'type': 1, 'id': 6591, 'message': 0.1638, 'country': 'ZA', 'sunrise': 1522385439, 'sunset': 1522427844}, 'id': 1015776, 'name': 'Bredasdorp', 'cod': 200}
{'coord': {'lon': -68.31, 'lat': -54.81}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 7.82, 'pressure': 960.31, 'humidity': 68, 'temp_min': 7.82, 'temp_max': 7.82, 'sea_level': 1004.55, 'grnd_level': 960.31}, 'wind': {'speed': 9.65, 'deg': 339.503}, 'clouds': {'all': 64}, 'dt': 1522371336, 'sys': {'message': 0.0033, 'country': 'AR', 'sunrise': 1522407228, 'sunset': 1522448423}, 'id': 3833367, 'name': 'Ushuaia', 'cod': 200}
{'coord': {'lon': -68.31, 'lat': -54.81}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 7.82, 'pressure': 960.31, 'humidity': 68, 'temp_min': 7.82, 'temp_max': 7.82, 'sea_level': 1004.55, 'grnd_level': 960.31}, 'wind': {'speed': 9.65, 'deg': 339.503}, 'clouds': {'all': 64}, 'dt': 1522371336, 'sys': {'message': 0.0033, 'country': 'AR', 'sunrise': 1522407228, 'sunset': 1522448423}, 'id': 3833367, 'name': 'Ushuaia', 'cod': 200}
{'cod': '404', 'message': 'city not found'}

In [10]:
cities_df

             0  teperature  humidity  cloudiness  wind speed
0      ushuaia        7.82      68.0        64.0        9.65
1      qaanaaq      -24.91      79.0        24.0        2.60
2  port-gentil       27.72      96.0        88.0        1.75
3     qandahar         NaN       NaN         NaN         NaN
4  barentsburg         NaN       NaN         NaN         NaN
5    upernavik      -13.46      76.0        24.0        0.05
6   bredasdorp       18.00      88.0        88.0        0.50
7      ushuaia        7.82      68.0        64.0        9.65
8      ushuaia        7.82      68.0        64.0        9.65
9  barentsburg         NaN       NaN         NaN         NaN